<div class="container pacifico-page">
  <mat-card class="cuadro mat-elevation-z4 mt-4 mb-4 text-center">
    <h1>{{ titulo }}</h1>
  </mat-card>
  <div class="row" *ngIf="selectedProceso">
    <div class="col-md-12">
      <app-proceso></app-proceso>
    </div>
    <div class="col-md-4 mt-4">
      <app-cargar-usuarios></app-cargar-usuarios>
    </div>
    <div class="col-md-4 mt-4">
      <app-cargar-posiciones></app-cargar-posiciones>
    </div>
    <div class="col-md-4 mt-4">
      <app-cargar-areas></app-cargar-areas>
    </div>
    <div class="col-md-4 mt-4">
      <app-cargar-centros></app-cargar-centros>
    </div>
    <div class="col-md-4 mt-4">
      <app-cargar-perfiles></app-cargar-perfiles>
    </div>
    <div class="col-md-4 mt-4"><!--offset-md-3-->
      <app-cargar-posicion-datos [procesos]="procesos" [selectedProceso]="selectedProceso"></app-cargar-posicion-datos>
    </div>
  </div>
  <mat-card class="cuadro mat-elevation-z4 mt-5">
    <mat-card class="titulo mat-elevation-z4">
      LISTADO DE MANTENIMIENTOS
    </mat-card>
    <div class="altura">
      <div class="row">
        <div class="col-md-12 mt-3">
          <mat-nav-list *ngFor="let item of links; let i = index" role="list">
            <a mat-list-item role="listitem" class="circular" routerLink="{{item[1]}}">
              <span>{{i+1}}</span>{{item[0]}}
            </a>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<app-footer></app-footer>
