<mat-card class="encuesta mat-elevation-z2">
  <h4 class="card-header text-center py-3">ASIGNACIÓN POR PRODUCTO - SUBCANAL</h4>
  <div class="table-responsive mt-1">
    <table mat-table [dataSource]="lstProductoSubcanales">
      <ng-container matColumnDef="productos" sticky>
        <th mat-header-cell *matHeaderCellDef>Productos</th>
        <td mat-cell *matCellDef="let element">{{element.objeto.nombre}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container *ngFor="let subcanal of lstCabeceraTableDynamico; let i = index" matColumnDef="{{subcanal}}">
        <th mat-header-cell *matHeaderCellDef>{{subcanal}}</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput type='number' [(ngModel)]='element.lstObjetos[i].porcentaje'>
            <span matSuffix>%</span>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="total" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>TOTAL</th>
        <td mat-cell *matCellDef="let element">{{obtenerSuma(element)}}<span matSuffix>%</span></td>
        <td mat-footer-cell *matFooterCellDef>{{obtenerSumaTotal()}}<span matSuffix>%</span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="lstCabeceraTableObtenida;"></tr>
      <tr mat-row *matRowDef="let row; columns: lstCabeceraTableObtenida;"></tr>
      <tr mat-footer-row *matFooterRowDef="lstCabeceraTableObtenida;"></tr>
    </table>
  </div>
</mat-card>
