.mat-column-codigo {
  width: 20%;
  text-align: center;
}
.mat-column-nombre {
  width: 40%;
  text-align: center;
}
.mat-column-porcentaje {
  width: 20%;
  text-align: center;
}
.mat-column-cumplimentar {
  width: 20%;
  text-align: center;
}

.invalid{
  color: red;
}
