div.form-group{
margin-top: 60px;
font-family: "Foco","Arial",sans-serif;
}


mat-form-field {
    width: 95%;
    /* padding: 0px 0px 50px 0; */
  }

span {
    font-size: 14px;
    columns: 2;
}

h5{
    font-family: "Foco","Arial",sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #585a5b !important; 
}

small{
    padding: 0px 0px 50px 0;

}

textarea{
    background-color:#f2f3f3;

}