<mat-form-field *ngIf="justificacion" class="mt-4">
  <mat-label><span>Justificación</span></mat-label>
  <mat-select [(value)]="justificacion.id" required>
    <mat-option *ngFor="let item of lstJustificaciones" [value]="item.id">
      <span>{{ item.nombre }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
<small *ngIf="justificacion" id="emailHelp" class="form-text text-muted">
  Enviar archivo asociado con el sustento a <a href="mailto:Ana.Lama@pacifico.com.pe">Ana.Lama@pacifico.com.pe</a>
</small >

<mat-form-field *ngIf="justificacion" class="mt-5">
  <textarea matInput placeholder="Observaciones" [(ngModel)]="observaciones"
            cdkTextareaAutosize
            cdkAutosizeMinRows="8"
            cdkAutosizeMaxRows="14"></textarea>
</mat-form-field>
