mat-form-field {
  width: 100%;
  font-size: 19px;
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

mat-select, mat-option {
  font-size: 14px;
}

h5{
    font-family: "Foco","Arial",sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #585a5b !important;
}

textarea.mat-input-element {
  background-color:#f2f3f3;
  font-size: 14px;
  padding: .5em;
}
