<form [formGroup]="myGroup">
  <mat-form-field *ngIf="justificacion" class="mt-4">
    <mat-select  placeholder="Justificación" [(ngModel)]="justificacion.id" formControlName="idJust"  required>
      <mat-option *ngFor="let item of lstJustificaciones" [value]="item.id" >
        <span>{{ item.nombre }}</span>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="idJustControl.invalid && idJustControl.touched" >
      Escoger opcion
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="justificacion && justificacion.id==9" class="mt-2">
    <input matInput maxlength="250" placeholder="Detalle de la justificación" [(ngModel)]="justificacion.detalle" required formControlName="detalleJust">
    <mat-error *ngIf="detalleJustControl.invalid && detalleJustControl.touched" >
      Escribir el detalle de la justificación.
    </mat-error>
  </mat-form-field>
  <small *ngIf="justificacion" id="emailHelp" class="form-text text-muted">
    Enviar archivo asociado con el sustento a <a href="mailto:encuestas_planeamiento@pacifico.com.pe">encuestas_planeamiento@pacifico.com.pe</a>
  </small>

  <mat-form-field *ngIf="justificacion" class="mt-5">
    <textarea matInput placeholder="Observaciones" [(ngModel)]="observaciones" cdkTextareaAutosize maxlength="250"
      cdkAutosizeMinRows="8" cdkAutosizeMaxRows="14"  formControlName="obs"></textarea>
      <mat-error *ngIf="obsJustControl.invalid && obsJustControl.touched" >
        Escribir observaciones de la justificación.
      </mat-error>
  </mat-form-field>
</form>
