<mat-card class="titulo mat-elevation-z4 mt-4">
    as
</mat-card>

<ng-select [items]="procesos"
           bindLabel="nombre"
           autofocus
           bindValue="id"
           placeholder="Seleccione un proceso"
           [(ngModel)]="selectedProceso">
</ng-select>
<ng-select [items]="centros"
           [multiple]="true"
           [closeOnSelect]="false"
           [hideSelected]="true"
           bindLabel="nombre"
           placeholder="Seleccionar centros de costos"
           [(ngModel)]="selectedCentros">
</ng-select>
<ng-select [items]="areas"
           [multiple]="true"
           [closeOnSelect]="false"
           [hideSelected]="true"
           bindLabel="nombre"
           placeholder="Seleccionar áreas"
           [(ngModel)]="selectedAreas">
</ng-select>
<button (click)="descargar()" mat-raised-button>Descargar</button>