<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Código</mat-label>
    <input matInput formControlName="codigo">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Creador</mat-label>
    <input matInput formControlName="creador">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de cierre</mat-label>
    <input matInput formControlName="fechaCierre">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>

<!--
<h1 mat-dialog-title>Editar proceso {{proceso.nombre}}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="proceso.nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="proceso.nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Creador</mat-label>
        <input matInput [(ngModel)]="proceso.nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de cierre</mat-label>
        <input matInput [(ngModel)]="proceso.nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de creación</mat-label>
        <input matInput [(ngModel)]="proceso.nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de actualización</mat-label>
        <input matInput [(ngModel)]="proceso.nombre">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="proceso.nombre" cdkFocusInitial>Guardar</button>
</div>
-->
