.selected-row {
  background: lightblue;
}

tr.mat-row {
  cursor: pointer;
}

.mat-column-codigo {
  width: 10%;
  text-align: center;
}

.mat-column-nombre {
  width: 25%;
}

.mat-column-creador {
  width: 35%;
}

.mat-column-fechaCierre {
  width: 10%;
  text-align: center;
}

.mat-column-fechaCreacion {
  width: 10%;
  text-align: center;
}

.mat-column-fechaActualizacion {
  width: 10%;
  text-align: center;
}
