<div class="container pacifico-page">
  <mat-card class="cuadro header mat-elevation-z4 mt-4 mb-4 text-center">
    <h1>{{ titulo.toUpperCase() }}</h1>
  </mat-card>
  <mat-card class="cuadro mat-elevation-z4 mt-4">
    <app-usuario-datos [usuario]="usuarioSeleccionado"></app-usuario-datos>
  </mat-card>
  <mat-card class="cuadro mat-elevation-z4 mt-4">
    <div class="row">
      <div class="col-md-7">
        <app-form-linea (sendLinea)="showCanalesByLinea($event)" [lstLineas]="lstLineas"></app-form-linea>
        <app-form-canal *ngIf="lineaSeleccionada" [lineaSeleccionada]="lineaSeleccionada"></app-form-canal>
      </div>
      <div class="col-md-12 text-right">
        <button mat-raised-button color="warn" (click)="goBack()"><i class="material-icons">reply</i>Atrás</button>
        <button mat-raised-button color="warn" (click)="guardarEncuesta()"><i class="material-icons">save</i>Guardar</button>
      </div>
    </div>
  </mat-card>
</div>
<br>
