<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<property name="LOG_FILE" value="${jboss.server.log.dir}/EncPpto/app"/>
	
	<logger name="com.autentia.myapplication" level="DEBUG"/>
	<logger name="org.springframework" level="INFO"/>

	<springProfile name="dev">
		<appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
 			<encoder>
 				<pattern>${FILE_LOG_PATTERN}</pattern>
 			</encoder>
 			<file>${LOG_FILE}.log</file>
 			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	 			<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
 				<maxFileSize>10MB</maxFileSize>
 				<maxHistory>30</maxHistory>
      			<totalSizeCap>500MB</totalSizeCap>
 			</rollingPolicy>
 		</appender>
		<logger name="org.springframework.security" level="DEBUG"/>
 	</springProfile>

	<springProfile name="prod">
 		<appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
 			<encoder>
 				<pattern>${FILE_LOG_PATTERN}</pattern>
 			</encoder>
 			<file>${LOG_FILE}.log</file>
 			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	 			<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
 				<maxFileSize>10MB</maxFileSize>
 				<maxHistory>30</maxHistory>
      			<totalSizeCap>500MB</totalSizeCap>
 			</rollingPolicy>
 		</appender>
	</springProfile>

	<root level="INFO">
 		<appender-ref ref="APPENDER" />
 	</root>
</configuration>