<div class="container">
  <div class="card mt-4 mb-3">
    <div class="card-body text-center">
      <h2 class="card-title mb-0">{{ titulo.toUpperCase() }}</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table mat-table [dataSource]="lstUsuario" class="design">
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> MATRÍCULA </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.codigo}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.nombreCompleto}} </td>
            </ng-container>

            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef> ÁREA </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.posicion.area.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="completar">
              <th mat-header-cell *matHeaderCellDef> COMPLETAR </th>
              <td mat-cell *matCellDef="let usuario">
                <ng-container>
                  <button mat-raised-button color="primary" (click)="seleccionarUsuario(usuario)" [routerLink]="[usuario.posicion.codigo,'encuesta']"><i
                      class="material-icons">navigate_next</i></button>
                </ng-container>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dcUsuario"></tr>
            <tr mat-row *matRowDef="let row; columns: dcUsuario;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
