.mat-column-codigo {
  width: 12%;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  text-align: center;
}

.mat-column-nombre {
  width: 30%;
}

.mat-column-posicion {
  width: 24%;
}

.mat-column-area {
  width: 24%;
}

.mat-column-completar {
  width: 10%;
  text-align: center;
}
