

<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">ASIGNACIÓN POR EMPRESA</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <div fas icon="plus" size="2x"></div>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Empresa</th>
          <th class="text-center">Porcentaje </th>
        </tr>
        <tr *ngFor="let empresa of lstEmpresas;let id = index">
          <td>
            <span >{{empresa.nombre}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'porcentaje', $event)" (blur)="updateList(id, 'porcentaje', $event)" required >{{empresa.porcentaje}}  </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>