<mat-card *ngIf="verificarLista()" class="encuesta mat-elevation-z2">
  <h4 class="card-header text-center py-3">
    ASIGNACIÓN POR EMPRESA
    <button mat-icon-button matSuffix>
      <mat-icon (click)="descargar()" [ngStyle]="{'color':'#585a5b'}">cloud_download</mat-icon>
    </button>
  </h4>
  <div class="table-responsive cuadro">
    <table mat-table [dataSource]="lstEmpresas" >
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>EMPRESA</th>
        <td mat-cell *matCellDef="let empresa"> {{empresa.nombre.toUpperCase()}} </td>
        <td mat-footer-cell *matFooterCellDef>TOTAL</td>
      </ng-container>

      <ng-container matColumnDef="porcentaje"  [formGroup]="groupForm">
        <th mat-header-cell *matHeaderCellDef>PORCENTAJE</th>
        <td mat-cell *matCellDef="let empresa">
          <mat-form-field>
            <input matInput type="number" max="100" min="0" [(ngModel)]="empresa.porcentaje"  [formControlName]="empresa.id">
            <span matSuffix>%</span>

          </mat-form-field>
          <mat-error *ngIf="validacionItemControl(empresa.id).hasError('negativo')" class="invalid"> Valor negativo</mat-error>
          <mat-error *ngIf="validacionItemControl(empresa.id).hasError('invalidNumber')" class="invalid"> Número Invalido</mat-error>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <input matInput type="number" value="{{getTotalPorcentaje()}}" disabled>
            <span matSuffix>%</span>
          </mat-form-field>
          <br>
          <span *ngIf="porcTotal!=100 && groupForm.touched" class="invalid">No está a 100%</span>
        </td>
      </ng-container>

      <!--ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let empresa">
          <ng-container *ngIf="revisarEmpresa(empresa.id) && empresa.porcentaje>0">
            <span  *ngIf="!empresa.estado" class="pendiente" >
              <i class="material-icons">report</i>
              <span>PENDIENTE</span>
          </span>
          <span  *ngIf="empresa.estado" class="terminado" >
              <i class="material-icons">check_circle</i>
              <span>TERMINADO</span>
          </span>
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container-->

      <ng-container matColumnDef="ir">
        <th mat-header-cell *matHeaderCellDef>DETALLE</th>
        <td mat-cell *matCellDef="let empresa">
          <ng-container *ngIf="revisarEmpresa(empresa.id) && empresa.porcentaje>0">
            <button mat-raised-button class="sm" color="primary"  (click)="revisarEdicionFormulario(empresa.id)">></button>
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dcEmpresa"></tr>
      <tr mat-row *matRowDef="let row; columns: dcEmpresa;"></tr>
      <tr mat-footer-row *matFooterRowDef="dcEmpresa"></tr>
    </table>
  </div>
</mat-card>
