.mat-column-nombre {
  width: 50%;
}

.mat-column-porcentaje {
  width: 30%;
  text-align: center;
}

.mat-column-ingresar {
  width: 20%;
  text-align: center;
}

.valid{
  color: black;
}

.invalid{
  color: red;
}