<mat-toolbar color="primary" class="modulos" fxFlex="0 0 auto">
<!--<div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
  </div> -->
  <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
    <span class=""><img [src]="'assets/img/logo.png'" alt="image"></span>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
    <mat-nav-list fxLayout>
      <a mat-list-item [routerLink]="'/colaboradores'" routerLinkActive="active"><span>Encuesta</span> <span class="sr-only">(current)</span></a>
      <!--a mat-list-item [routerLink]="'/resumen'" routerLinkActive="active"><span>Resumen</span></a-->
      <a *ngIf="authService.hasRole('ROLE_ADMIN')" mat-list-item [routerLink]="'/reporting'" routerLinkActive="active"><span>Reporting</span></a>
      <a *ngIf="authService.hasRole('ROLE_ADMIN')" mat-list-item [routerLink]="'/mantenimiento'" routerLinkActive="active"><span>Mantenimiento</span></a>
    </mat-nav-list>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <mat-nav-list fxLayout class="logout">
      <a mat-list-item (click)="logout()"><i class="material-icons">exit_to_app</i> Cerrar Sesión</a>
    </mat-nav-list>
  </div>
</mat-toolbar>
