<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Pacífico</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="/encuestas">Encuestas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/resumen">Resumen</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/reportes">Reportes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/mantenimiento">Mantenimiento</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-right">
      <button class="btn" (click)="logout()" type="submit">Cerrar Sesión</button>
    </ul>
  </div>
</nav>
