.mat-column-ir {
  width: 20%;
  text-align: center;
}

.mat-column-estado {
  width: 20%;
  text-align: center;
}

.mat-column-porcentaje {
  width: 20%;
  text-align: center;
}

.invalid {
  color: red;
}

.terminado {
  color: green;
  font-size: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pendiente {
  color: red;
  font-size: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
