<mat-card *ngIf="verificarLista()" class="encuesta mat-elevation-z2">
  <h4 class="card-header text-center py-3">
    ASIGNACIÓN POR LÍNEA
    <button mat-icon-button matSuffix>
      <mat-icon (click)="descargar()" [ngStyle]="{'color':'#585a5b'}">cloud_download</mat-icon>
    </button>
  </h4>
  <div class="table-responsive cuadro">
    <table mat-table [dataSource]="lstLineas">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> CODIGO </th>
        <td mat-cell *matCellDef="let linea">{{linea.codigo}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> LINEA </th>
        <td mat-cell *matCellDef="let linea">{{linea.nombre}}</td>
        <td mat-footer-cell *matFooterCellDef> TOTAL </td>
      </ng-container>

      <ng-container matColumnDef="porcentaje" [formGroup]="groupForm">
        <th mat-header-cell *matHeaderCellDef>PORCENTAJE</th>
        <td mat-cell class="input-porcentaje" *matCellDef="let linea">
          <mat-form-field style="width: 40px;">
            <input type="number" matInput max="100" min="0" [(ngModel)]="linea.porcentaje" [formControlName]="linea.id">
            <span matSuffix>%</span>
          </mat-form-field>
          <mat-error *ngIf="validacionItemControl(linea.id).hasError('negativo')" class="invalid"> Valor negativo
          </mat-error>
          <mat-error *ngIf="validacionItemControl(linea.id).hasError('invalidNumber')" class="invalid"> Número Invalido
          </mat-error>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <input disabled matInput type="number" value="{{ getTotalPorcentaje() }}">
            <span matSuffix>%</span>
          </mat-form-field>
          <br>
          <span *ngIf="porcTotal!=100 && groupForm.touched" class="invalid">No está a 100%</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let linea">
          <ng-container *ngIf="linea.porcentaje > 0">
            <span *ngIf="!linea.estado" class="pendiente">
              <i class="material-icons">report</i>
              <span>PENDIENTE</span>
            </span>
            <span *ngIf="linea.estado" class="terminado">
              <i class="material-icons">check_circle</i>
              <span>TERMINADO</span>
            </span>
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="ir">
        <th mat-header-cell *matHeaderCellDef>IR</th>
        <td mat-cell *matCellDef="let linea">
          <button mat-raised-button class="sm" *ngIf="linea.porcentaje > 0" color="primary"
            (click)="revisarEdicionFormulario(linea.id)">></button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dcLinea"></tr>
      <tr mat-row *matRowDef="let row; columns: dcLinea;"></tr>
      <tr mat-footer-row *matFooterRowDef="dcLinea"></tr>
    </table>
  </div>
</mat-card>