<mat-card class="cuadro mt-5 mat-elevation-z1">
  <mat-card class="titulo mat-elevation-z4">
    {{ titulo }}
  </mat-card>
  <mat-card-content>
    <ng-select [items]="procesos"
                bindLabel="nombre"
                placeholder="Seleccione un proceso"
                [(ngModel)]="selectedProceso"
                name="proceso">
    </ng-select>
    <mat-form-field class="archivo">
      <mat-label>Seleccionar archivo</mat-label>
      <input (click)="fileInput.click()" matInput [type]="text" name="ruta" [(ngModel)]="ruta" readonly>
      <input name="archivo" hidden type="file" #fileInput (change)="seleccionarArchivo($event)">
      <button (click)="fileInput.click()" type="button" mat-icon-button matSuffix>
        <mat-icon [ngStyle]="{'color':'#607d8b'}">folder</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="uploadFile()"><i class="material-icons">cloud_upload</i>Subir</button>
  </mat-card-actions>
  <mat-card-footer class="footer">
    <div fxFlex fxLayoutAlign="center center" fxLayout="column">
      Existen {{ cantPosiciones }} posiciones con datos registrados.
      <button mat-raised-button color="primary" (click)="downloadFile()"><i class="material-icons">cloud_download</i>Descargar</button>
    </div>
  </mat-card-footer>
</mat-card>
