tr.mat-row {
  cursor: pointer;
}

.mat-column-codigo {
  width: 10%;
  text-align: center;
}

.mat-column-nombre {
  width: 25%;
}

.mat-column-lineaCodigo {
  width: 10%;
  text-align: center;
}

.mat-column-lineaNombre {
  width: 25%;
}

.mat-column-fechaCreacion {
  width: 15%;
  text-align: center;
}

.mat-column-fechaActualizacion {
  width: 15%;
  text-align: center;
}
