<form class="pacifico-page" [formGroup]="formGroup" (ngSubmit)="submit()">
  <h1 mat-dialog-title>{{ titulo }}</h1>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <ng-select [items]="estados"
               placeholder="Seleccionar estado"
               [(ngModel)]="selectedEstado"></ng-select>
    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio" readonly>
      <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
      <mat-datepicker #fechaInicio></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de cierre</mat-label>
      <input matInput [matDatepicker]="fechaCierre" formControlName="fechaCierre" readonly>
      <mat-datepicker-toggle matSuffix [for]="fechaCierre"></mat-datepicker-toggle>
      <mat-datepicker #fechaCierre></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close><i class="material-icons">reply</i>Cancelar</button>
    <button mat-raised-button color="accent" type="submit"><i class="material-icons">add</i>Crear</button>
  </mat-dialog-actions>
</form>
