<div class="card">
  <div class="card-body">
    <div class="form-group row">
      <label for="colaborador" class="col-sm-2 col-form-label">COLABORADOR:</label>
      <div class="col-sm-4">
        <input type="text" readonly class="form-control" id="colaborador" value="CLAUDIA SALOME CORDERO">
      </div>
      <label for="area" class="col-sm-2 col-form-label">ÁREA:</label>
      <div class="col-sm-4">
        <input type="text" readonly class="form-control" id="area" value="CLAUDIA SALOME CORDERO">
      </div>
    </div>

    <div class="form-group row">
      <label for="matricula" class="col-sm-2 col-form-label">MATRÍCULA:</label>
      <div class="col-sm-4">
        <input type="text" readonly class="form-control" id="matricula" value="U12345">
      </div>
      <label for="centro" class="col-sm-2 col-form-label">CENTRO DE COSTOS:</label>
      <div class="col-sm-4">
        <input type="text" readonly class="form-control" id="centro" value="EQUIPO DE AUDITORÍA DE GESTIÓN DE VALOR">
      </div>
    </div>

      <div class="form-group row mb-0">
        <label for="posicion" class="col-sm-2 col-form-label">POSICIÓN:</label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="posicion" value="SUBGERENTE DE GESTION DEL VALOR">
        </div>
        <label for="nivel" class="col-sm-2 col-form-label">NIVEL:</label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="nivel" value="CLAUDIA SALOME CORDERO">
        </div>
      </div>

  </div>
</div>
