<div class="container pacifico-page">
  <mat-card class="cuadro header mat-elevation-z4 mt-4 mb-4 text-center">
    <h1>{{ titulo.toUpperCase() }}</h1>
  </mat-card>
  <mat-card class="cuadro mat-elevation-z4 mt-4">
    <app-usuario-datos [usuario]="usuarioSeleccionado"></app-usuario-datos>
  </mat-card>
  <mat-card class="cuadro mat-elevation-z4 mt-4">
    <div class="row">
      <div class="col-md-7">
        <app-form-linea *ngIf="usuarioSeleccionado && lstLineas" [usuario]="usuarioSeleccionado" [lstLineas]="lstLineas" [haGuardado]="haGuardado"
        (sendDownloadToParent)="descargarEncuesta()" (estadoFormLineaToParent)="estadoFormLineas($event)">
        </app-form-linea>
      </div>
      <div class="col-md-5">
        <app-form-justificacion *ngIf="justificacion" [justificacion]="justificacion" [observaciones]="observaciones"
          (estadoFormJustToParent)="estadoFormJustificacion($event)">
        </app-form-justificacion>
      </div>
      <div class="col-md-12 text-right mt-3">
        <button mat-raised-button color="warn" (click)="goBack()"><i class="material-icons">reply</i>Atrás</button>
        <button mat-raised-button color="warn" disabled *ngIf="!habilitarButton">
          <i class="material-icons">save</i>Guardar</button>
        <button mat-raised-button color="warn" *ngIf="habilitarButton" (click)="guardarEncuesta()">
          <i class="material-icons">save</i>Guardar</button>
      </div>
    </div>
  </mat-card>
</div>
<br>