tr.mat-row {
  cursor: pointer;
}

.mat-column-codigo {
  width: 10%;
  text-align: center;
}

.mat-column-nombre {
  width: 25%;
}

.mat-column-division {
  width: 26%;
}

.mat-column-fechaCreacion {
  width: 13%;
text-align: center;
}

.mat-column-fechaActualizacion {
  width: 13%;
  text-align: center;
}

.mat-column-fechaEliminacion {
  width: 13%;
  text-align: center;
}