@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@angular/material/theming';
@include mat-core();

$color-azul: #09c;
$color-verde: #00af3f;
$color-1: rgba(0, 0, 0, 0.54);
$color-2: #585a5b;
$color-fondo: #f2f3f3;
$fuente: "Foco","Arial",sans-serif;

html, body {
  height: 100%;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 14px;
  line-height: 2.7em;
  min-height: 2.7em;
}

.ng-select.ng-select-focused .ng-select-container:after {
  border-color: $color-azul;
}

.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
  color: $color-azul;
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: $color-azul;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: $color-azul;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
  color: $color-azul;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: $color-azul;
}

.grupo {
  display:flex;align-items:center;
  color: $color-2;
}

app-seleccionar-usuario,
app-enc-replicar,
app-enc-empresa,
app-enc-centro,
app-enc-eps,
app-enc-linea,
app-enc-linea-canal,
app-enc-producto-subcanal,
app-enc-producto-canal,
app-mantenimientos,
app-posiciones,
app-usuarios,
app-lineas,
app-canales,
app-subcanales,
app-productos,
app-centros,
app-areas,
app-reportes {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-fondo;
  .pacifico-page {
    flex: 1 1 auto;
  }
}

.pacifico-page {
  table {
    [class*='mat-column-'] {
      font-size:12.5px;
    }
    .mat-header-cell {
      font-weight: bold;
      font-size: 14px;
      padding: 0 7px!important;
    }
  }
  .selected-row {
    background: lightblue;
  }

  .cuadro {
    .ng-select {
      .ng-select-container {
        min-height: 45.07px;
      }
    }
    .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
      align-self: flex-end;
      bottom: 5px;
    }
    .cargar {
      font-size: 11px;
      mat-progress-bar {
        margin: 5px 0;
      }
      margin-bottom: 20px;
      width: 100%;
      padding: 0 1em;
      .info {
        margin-left: 1.5px;
      }
      .error {
        color: red;
      }
    }
    mat-card-content {
      &> * {
        width: 100%;
      }
      .mat-form-field-infix {
        input {
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    background: rgb(248, 246, 245);
    border-top: 1px solid #B3B3B3;
    font-size: 13px;
    padding: .9em;
    button {
      margin-top: 8px;
    }
  }
  .mat-nav-list .mat-list-item.circular {
    line-height: 23px;
    span {
      height: 23px;
      width: 23px;
      background-color: #00af3f;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7px;
    }
  }
  a {
    text-decoration: none!important;
    &:hover {
      color: none;
    }
  }
  .boton {
    min-width: 36px;
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    input {
      margin-right: 6px;
    }
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    display: flex;
    align-items: center;
    input {
      margin-right: 6px;
    }
  }
  .ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {
    padding-top:.25em;
  }
  .mat-raised-button {
    &.icono {
      min-width: 36px;
      .material-icons {
        margin-right: 0;
      }
    }
    min-width: 100px;
    padding: 0;
    font-family: $fuente;
    .material-icons {
      font-size: 18px;
      margin-right: 8px;
    }
    &.sm {
      min-width: 36px;
    }
  }

  button + button {
    margin-left: 15px;
  }

  .mat-header-cell {
    color: $color-2;
  }

  h1 {
    color: $color-2;
    font-family: $fuente;
    font-size: 22px;
    font-weight: bold;
  }

  h4 {
    color: $color-2;
    font-family: $fuente;
    font-size: 17px;
    font-weight: bold;
    margin: 4px 0 0;
  }

  .encuesta {
    padding: 0;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }

    .mat-footer-cell {
      color: $color-2;
      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-table {
      width: 100%;
    }

    td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
      padding-left: 7px;
    }

    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
      padding-right: 7px;
    }

    td.mat-cell {
      padding: 0 7px;
    }

    tr.mat-footer-row {
      font-weight: bold;
    }

    .mat-form-field {
      max-width: 50px!important;
      text-align: right !important;
    }

    .mat-input-element:disabled {
      color: rgba(0, 0, 0, 0.87)!important;
    }
  }

  .campo {
    color: $color-2!important;
    text-align: left;
    font-family: $fuente;
    font-size: 14px;
    font-weight: 600!important;
  }

  .cuadro {
    .titulo {
      margin:-37px 0 17px 0!important;
      color: white;
      text-align: center;
      background-color: $color-azul;
      font-size: 18px;
      padding: .75em;
    }
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    widows: 100%;
    word-wrap: break-word;
    mat-card-content {
      padding: .25rem;
      margin-bottom: 0;
    }
  }

  .mat-table {
    width: 100%;
  }

  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 7px;
  }

  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 7px;
  }

  td.mat-cell {
    padding: 0 7px;
  }

  .mat-header-cell {
    font-weight: bold;
    font-size: 14.5px;
    padding: 0 7px;
  }
}
$azul: (
    50 : #e0f3f9,
    100 : #b3e0f0,
    200 : #80cce6,
    300 : #4db8db,
    400 : #26a8d4,
    500 : #0099cc,
    600 : #0091c7,
    700 : #0086c0,
    800 : #a5a7a8,
    900 : #006bad,
    A100 : #d7edff,
    A200 : #a4d7ff,
    A400 : #71c0ff,
    A700 : #58b5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$verde: (
    50 : #e0f5e8,
    100 : #b3e7c5,
    200 : #80d79f,
    300 : #4dc779,
    400 : #26bb5c,
    500 : #00af3f,
    600 : #00a839,
    700 : #009f31,
    800 : #009629,
    900 : #00861b,
    A100 : #b3ffbc,
    A200 : #80ff8f,
    A400 : #4dff63,
    A700 : #33ff4d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$naranja: (
    50 : #ffece3,
    100 : #ffd0ba,
    200 : #ffb18c,
    300 : #ff925e,
    400 : #ff7a3c,
    500 : #ff6319,
    600 : #ff5b16,
    700 : #ff5112,
    800 : #ff470e,
    900 : #ff3508,
    A100 : #ffffff,
    A200 : #fff6f4,
    A400 : #ffcac1,
    A700 : #ffb4a7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// below creates a primary palette with three shades of blue
$my-app-primary: mat-palette($azul);
$my-app-accent: mat-palette($verde, 700);
$my-app-warn: mat-palette($naranja, 700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

.login {
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $color-azul;
  }
}

.docs-footer {
  background: mat-color($my-app-primary);
  color: mat-color($my-app-primary, default-contrast);
}
