<div class="container">
  <div class="card mt-4 mb-3">
    <div class="card-body text-center">
      <h2 class="card-title mb-0">{{ titulo.toUpperCase() }}</h2>
    </div>
  </div>

  <div class="card mt-4 mb-3">
    <app-usuario-datos [posicionCodigo]=posicionCodigo></app-usuario-datos>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 text-center">
          <app-form-producto-subcanal [matriz]="matriz"></app-form-producto-subcanal>
        </div>
        <div class="col-md-12 text-right">
          <button mat-raised-button color="warn" (click)="goBack()">Atrás</button>
          <button mat-raised-button color="accent" (click)="guardarEncuesta()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
