<div class="login" fxLayout="column" style="height:100%">
  <header fxFlex="0 0 auto">
    <img [src]="'assets/img/logo2.png'" alt="">
  </header>
  <main fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
    <form method="post" [formGroup]="loginForm">
      <mat-card class="mat-elevation-z5">
        <mat-card-content fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon [ngStyle]="{'color':'#607d8b'}" matPrefix>person</mat-icon>
            <mat-form-field appearance="outline">
              <mat-label>Usuario de red</mat-label>
              <input matInput name="username" formControlName="codigo">
              <mat-error *ngIf="codigo.hasError('required') && codigo.touched">Por favor, ingrese su usuario de red</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon [ngStyle]="{'color':'#607d8b'}" matPrefix>lock</mat-icon>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide?'password':'text'" name="password" formControlName="contrasenha">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                <mat-icon [ngStyle]="{'color':'#607d8b'}">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="contrasenha.hasError('required') && contrasenha.touched">Por favor, ingrese su contraseña</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon [ngStyle]="{'color':'#607d8b'}" matPrefix>home</mat-icon>
            <mat-form-field appearance="outline">
              <mat-label>Dominio</mat-label>
              <mat-select formControlName="dominio">
                <mat-option *ngFor="let item of dominios" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="dominio.hasError('required') && dominio.touched">Por favor, seleccione un dominio</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions align="center">
          <button (click)='login()' mat-raised-button color="accent"><b>LOGIN</b></button>
        </mat-card-actions>
      </mat-card>
    </form>
  </main>
  <footer fxFlex="0 0 auto">
  </footer>
</div>
