


.mat-column-codigo { 
    width: 20% !important;
  }
.mat-column-nombre { 
    width: 60% !important;
  }
  


  .mat-column-porcentaje { 
    width: 20px !important;
  }

  .mat-column-porcentaje td mat-form { 
    width: 30px;
  }

  .mat-column-porcentaje th { 
    font-weight: 600;
  }


  .design th {
    font-weight: 600 !important;
    color: #585a5b !important; 
    font-size: 15px;
    text-align: center;
  }

  .design td {
      text-align: left;
  }
  .mat-table{
    font-family: "Foco","Arial",sans-serif;;
    color: #585a5b !important;
    box-align: center;
  }


