.mat-column-codigo {
  width: 10%;
}

.mat-column-nombre {
  width: 60%;
}

.mat-column-nivel {
  width: 15%;
  text-align: center;
}

.mat-column-porcentaje {
  width: 15%;
  text-align: center;
}

.invalid {
  color: red;
}
