<mat-card *ngIf="verificarLista()" class="encuesta mat-elevation-z2">
  <h4 class="card-header text-center py-3">
    ASIGNACIÓN POR CENTRO DE COSTOS
    <button mat-icon-button matSuffix>
      <mat-icon (click)="descargar()" [ngStyle]="{'color':'#585a5b'}">cloud_download</mat-icon>
    </button>
  </h4>
  <div class="table-responsive cuadro" style="overflow: auto; height: 70vh; padding-top: 0; padding-bottom: 0;">
    <table mat-table [dataSource]="dataSource" class="design">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>CÓDIGO</th>
        <td mat-cell *matCellDef="let centro">{{centro.codigo}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>CENTRO</th>
        <td mat-cell *matCellDef="let centro">{{centro.nombre}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="nivel">
        <th mat-header-cell *matHeaderCellDef>NIVEL</th>
        <td mat-cell *matCellDef="let centro"> {{centro.nivel}} </td>
        <td mat-footer-cell *matFooterCellDef>TOTAL</td>
      </ng-container>

      <ng-container matColumnDef="porcentaje" [formGroup]="groupForm">
        <th mat-header-cell *matHeaderCellDef>PORCENTAJE</th>
        <td mat-cell *matCellDef="let centro">
          <mat-form-field>
            <input matInput type="number" max="100" min="0" [(ngModel)]="centro.porcentaje" [formControlName]="centro.id">
            <span matSuffix>%</span>
          </mat-form-field>
          <mat-error *ngIf="validacionItemControl(centro.id).hasError('negativo')" class="invalid"> Valor negativo
          </mat-error>
          <mat-error *ngIf="validacionItemControl(centro.id).hasError('invalidNumber')" class="invalid"> Número Invalido
          </mat-error>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <input disabled matInput type="number" value="{{ getTotalPorcentaje() }}">
            <span matSuffix>%</span>
          </mat-form-field>
          <br>
          <span *ngIf="porcTotal!=100 && groupForm.touched" class="invalid">No está a 100%</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dcCentro;  sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: dcCentro;"></tr>
      <tr mat-footer-row *matFooterRowDef="dcCentro; sticky:true"></tr>
      <!-- Group header -->
      <ng-container matColumnDef="groupHeader">
        <td colspan="999" mat-cell *matCellDef="let group" style="flex-direction: row;">
          <div fxFlex fxLayout>
            <span class="grupo">
              <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
              <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
              <strong style="width: 400px;">{{group[groupByColumns[group.level-1]]}}</strong>
            </span>
            <span class="grupo" fxLayoutAlign="flex-end" style="width: 100%; padding-right: 14px">
              <strong>{{ getTotalPorcentajeByGrupo(group.grupo)}} <span matSuffix>%</span></strong>
            </span>
          </div>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)"> </tr>
    </table>
  </div>
</mat-card>
